body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.dark {
  background: #111827;
  color: white;
  min-height: 100vh;
}

.light {
  background: #f3f4f6;
  color: black;
  min-height: 100vh;
}

.app {
  padding: 30px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.search {
  padding: 12px;
  width: 80%;
  max-width: 400px;
  border: none;
  border-radius: 8px;
  margin-bottom: 30px;
  font-size: 16px;
}

.event-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1f2937;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  background: #374151;
}

.mode-btn,
.fav-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}