body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111827;
  color: white;
}

.app {
  padding: 30px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

h1 {
  margin-bottom: 20px;
}

.search {
  padding: 12px;
  width: 80%;
  max-width: 400px;
  border: none;
  border-radius: 8px;
  margin-bottom: 30px;
  font-size: 16px;
}

.event-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1f2937;
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  background: #374151;
}